# Dependencies
node_modules/
.pnpm-store/

# Environment variables
# .env
# .env.*
# .env.local
# .env.development
# .env.production
# .env.test
# *.env

# Database files
*.db
*.db-journal
*.sqlite
*.sqlite3
/prisma/db/*.db
/generated/prisma
/frontend/meter-reading-dashboard

# planing
CHIANG_MAI_INTEGRATION.md
DYNAMIC_MONITORED_OBJECTS.md
DYNAMIC_OBJECTS_COMPLETE.md
EMAIL_FAILURE_ANALYSIS.md
EMAIL_TROUBLESHOOTING_GUIDE.md
IMPLEMENTATION_SUMMARY.md
RANONG_DATA_MAPPING_FIX.md
REAL_TIME_DATA_IMPLEMENTATION.node_modules.md
IMPLEMENTATION_SUMMARY_EMAIL.md
REAL_TIME_DATA_IMPLEMENTATION.md

# pdpa
users.csv
stations.csv

# Log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
.next/
out/
dist/
build/

# Cache
.cache/
*.tsbuildinfo
.eslintcache

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
coverage/
.nyc_output/

# Misc
*.pem
*.key
